/* universal reset */
*{
    margin: 0%;
    padding: 0%;
}
/* common container */
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
}
/* navbar start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    
}
/* logo */
.logo{
    width: 120px;

}
/* navigation menu */
ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
ul li a{
    text-decoration: none;
    font-family: "Arima", system-ui;

}

.common-button{
    padding: 12px 24px;
    border: none;
    background-color: #2d5cff;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    cursor: pointer;
}

/* hero section start */
.hero{
    background-image: url(./images/banner.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.hero-content{

    max-width: 700px;
    color: white;
    text-align: center;
}
.hero-content h1{
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 25px;
}
.hero-content p{
    color: white;
    font-size: 18px;
    margin-bottom: 40px;

}
.hero-content .common-button{
    margin-top:40px;
}

/* hero section end */

/* Meet the speaker section start */

.speaker{
    padding: 100px 0;
}
.speaker h2{
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    font-family: "Arima", system-ui;

}
.speaker-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.speaker-card{
    border: 1px solid white;
    border-radius: 16px;
    
}
.speaker-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.speaker info{
    padding: 20px;

}
.speaker-info span{
color:#2d5cff;
font-size: 12px;
font-weight: bold;
}
.speaker-info h3{
    margin: 10px 0;
    font-size: 24px;
}
.speaker-info p{
    color: #666;
    font-size: 15px;
}